.Videos{
    margin: 100px 0;
}
a{
    text-decoration: none;
    color: #fff;
}
.Videos legend{
    font-family: 'mercy';
    text-align: center;
    font-size: 36px;
}
.Videos fieldset{
    border: 4px solid #fff;
    max-width: 1200px;
    margin: 0 auto;
}
.red, .both-recs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.bat-icon,.cam{
    font-size: 24px;
    color: #fff;
    font-family: sans-serif;
}
.bat-icon{
    font-size: 30px;
    animation: flicker 1000ms infinite;
}
.redDot{
    background-color: #d10606;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    animation: flicker 1000ms infinite;
}
@keyframes flicker {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.Videos .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.centered-btn{
    margin-bottom: 20px;
}
.Videos iframe{
    width: 560px;
    height: 315px;
}
@media (max-width:768px) {
    .Videos iframe{
        width: 300px;
        height: 155px;
    }
    .Videos fieldset{
        max-width: 680px;
    }

}
@media (max-width: 415px) {
    .Videos iframe{
        width: 260px;
        height: 135px;
    }
    .Videos fieldset{
         max-width: 350px;
    }
}